@yellow: #fffa19;

.margenes (@top: 0px, @bottom: 0px) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
    color: black;
    background-color: @yellow;
    .margenes(50px, 0px);
  }
  
  .img-fluid {
    width: 100%;
    height: auto; }
  
  footer {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    background-color: @yellow;
    .margenes(10px, 0px);}
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px); }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    padding-top: 10px; }
  